---
name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: fish-action/install-fish@v1
      - uses: fish-shop/syntax-check@v1

  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3
      - uses: fish-action/install-fish@v1
      # FIXME: need dependencies installed here
      - uses: fish-shop/run-fishtape-tests@v1
        with:
          pattern: tests/**.fish

  install:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        plugin-manager: [fisher, oh-my-fish]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - uses: fish-actions/install-fish@v1
      - name: Install plugin using ${{ matrix.plugin-manager }}
        uses: fish-shop/install-plugin@v2
        with:
          plugin-manager: ${{ matrix.plugin-manager }}
          plugins: (pwd)

      - name: Check plugin is installed
        run: functions -q extract x
        shell: fish {0}
